/*#D90000
font-family: 'Stoke', serif;
font-family: 'Libre Baskerville', serif;*/


* {
    font-family: 'Libre Baskerville', serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    font-family: 'Stoke', serif;
    font-size: 24px;
    color: #031927;
    font-weight:300;
    background-color: #D90000; 
}

a.navbar-brand {
    color: #031927;
    word-spacing: unset;
}

.jumbotron {
    font-family: 'Stoke', serif;
    background-color: #FFFFFF;
}

.jumbotron>h1 {
    font-size: 56px;
    font-family: 'Stoke', serif;
    text-align: center;
}

.jumbotron>p {
    font-size: 28px;
    text-align: center;
}
.jumbotron>img {
    width: 800px;
    height: 300px;
    align-content: center;
    margin-left: 100px;
}

a {
    color: #031927;
}

.tagline {
    font-family: 'Libre Baskerville', serif;
    font-size: 34px;
}
